*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  width: 60%;
  height: 500px;
  /* background-color: hsl(300, 24%, 96%); */
  background-color: white;

  display: flex;
  flex-direction: column;
}

.top-container {
  flex: 1;

  display: flex;

  /* to see layout */
  border: 0.1px solid black;
}

.left-box {
  margin: 20px;
  padding: 50px;

  flex: 1;

  /* to see layout */
  border: 0.1px solid black;
}

.left-box-column {
  color: hsl(300, 43%, 22%);

  /* now that you introduced margin for left-box 
  you could remove width
  */
  /* width: 60%; */

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.left-box-column span {
  font-size: xx-large;
  font-weight: 700;
}

.left-box-column p {
  font-size: small;
  font-weight: 300;
  line-height: 1rem;
  opacity: 0.6;
}

.right-box {
  margin: 20px;
  padding: 50px;

  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;

  /* to see layout */
  border: 0.1px solid black;
}

.first-long-box {
  background-color: hsl(333, 80%, 95%);
  width: 75%;
  padding: 10px;
  border-radius: 5px;

  align-self: flex-start;

  font-size: small;
}

.second-long-box {
  background-color: hsl(333, 80%, 95%);
  width: 75%;
  padding: 10px;
  border-radius: 5px;

  align-self: center;

  font-size: small;
}

.third-long-box {
  background-color: hsl(333, 80%, 95%);
  width: 75%;
  padding: 10px;
  border-radius: 5px;

  align-self: flex-end;

  font-size: small;
}

.bottom-container {
  flex: 1;

  /* to see layout */
  border: 0.1px solid black;
}
