*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  width: 60%;
  height: 500px;
  /* background-color: hsl(300, 24%, 96%); */
  background-color: white;

  display: flex;
  flex-direction: column;
}

/* parent for left and right box */
.top-container {
  flex: 1;

  display: flex;

  /* to see layout */
  border: 0.1px solid black;
}

.left-box {
  margin: 20px 5px 20px 20px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  color: hsl(300, 43%, 22%);
}

.left-box span {
  font-size: xx-large;
  font-weight: 700;
  line-height: 2rem;
  /* this is ideal? */
  width: 75%;
}

.left-box p {
  font-size: small;
  font-weight: 300;
  line-height: 1.2rem;
  opacity: 0.6;
  text-align: start;
  /* this is ideal? */
  width: 90%;
}

.right-box {
  margin: 20px 20px 20px 5px;
  /* absolute value prevents right box from shrinking */
  width: 330px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.icon-star {
  width: 7px;
  height: 7px;
}

.star-container {
  flex-shrink: 0;
}

.first-long-box > span,
.second-long-box > span,
.third-long-box > span {
  flex-shrink: 0;
}

.first-long-box,
.second-long-box,
.third-long-box {
  background-color: hsl(333, 80%, 95%);

  padding: 10px 40px 10px 14px;
  border-radius: 5px;

  display: flex;
  justify-content: start;

  gap: 1rem;

  /* absolute value prevents long box from shrinking */
  /* give same width along with align items for stagger */
  width: 275px;

  color: hsl(300, 43%, 22%);
  font-weight: 600;
  font-size: small;
}

/* stagger the boxes */

.first-long-box {
  align-self: start;
}

.second-long-box {
  align-self: center;
}

.third-long-box {
  align-self: flex-end;
}

.bottom-container {
  flex: 1;

  /* to see layout */
  border: 0.1px solid black;
}
