*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  width: 73%;
  height: 500px;
  /* background-color: hsl(300, 24%, 96%); */
  background-color: white;

  display: flex;
  flex-direction: column;
}

/* TOP CONTAINER  */

/* parent for left and right box */
.top-container {
  flex: 1;

  display: flex;

  /* to see layout */
  border: 0.1px solid black;
}

.left-box {
  margin: 20px 5px 20px 20px;
  width: 430px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  color: hsl(300, 43%, 22%);
}

.left-box span {
  font-size: xx-large;
  font-weight: 700;
  line-height: 2rem;
  /* this is ideal? */
  width: 50%;
  opacity: 0.85;
}

.left-box p {
  font-size: small;
  font-weight: 400;
  line-height: 1.2rem;
  opacity: 0.6;
  text-align: start;
  /* this is ideal? */
  width: 75%;
}

.right-box {
  margin: 20px 0px 20px 0px;
  /* absolute value prevents right box from shrinking */
  width: 430px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.icon-star {
  width: 7px;
  height: 7px;
}

.star-container {
  flex-shrink: 0;
}

.first-long-box > span,
.second-long-box > span,
.third-long-box > span {
  flex-shrink: 0;
}

.first-long-box,
.second-long-box,
.third-long-box {
  background-color: hsl(333, 80%, 95%);

  padding: 10px 40px 10px 14px;
  border-radius: 5px;

  display: flex;
  justify-content: start;

  gap: 1rem;

  /* absolute value prevents long box from shrinking */
  /* give same width along with align items for stagger */
  width: 280px;

  color: hsl(300, 43%, 22%);
  font-weight: 600;
  font-size: small;
}

/* stagger the boxes */

.first-long-box {
  align-self: start;
}

.second-long-box {
  align-self: center;
}

.third-long-box {
  align-self: flex-end;
}

/* BOTTOM CONTAINER  */

.bottom-container {
  /* fixed height to allow flex movements within the height? */
  height: 250px;

  display: flex;
  /* this is leaving tiny space between card and parent */
  justify-content: space-around;
  /* for consistent spacing on wrap, desired effect 
  only in conjunction with space-around or space-evenly
  */
  gap: 20px;

  flex: 1;
  flex-wrap: wrap;

  /* to see layout */
  border: 0.1px solid black;
}

.card-container-one {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.card-container-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-container-three {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card {
  width: 265px;
  height: 180px;
  padding: 20px;

  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: white;
  background-color: hsl(300, 43%, 22%);
}

.customer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.customer .name {
  font-size: small;
  font-weight: 600;
}

.customer .verified-buyer {
  color: hsl(333, 80%, 67%);
  font-weight: 500;
  font-size: 13px;
  opacity: 0.7;
}

.customer img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.customer .badge {
  display: flex;
  flex-direction: column;
}

.card p {
  font-size: small;
  font-weight: 400;
  line-height: 1rem;
}
